<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.localize.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/fontawesome-all.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/alertify.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.storage.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Index" data-localize="news-link.self">News</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left: auto;">
                            <a class="nav-link text-dark" id="arabicConverter" style="cursor:pointer; color:blue!important;">AR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/moment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(function () {
            if (localStorage.getItem('Language') == 'AR') {
                $('#arabicConverter').trigger('click');
            }
           
        });
        StorePreLocalization();
        $('#arabicConverter').click(function () {
            let Converter = $(this).text();
            if (Converter == 'AR') {
                let _filePath = '/lang';
                let _langOpts = { language: "ar", pathPrefix: _filePath };
                $("[data-localize]").localize('add', _langOpts);
                $(this).text('EN');
                localStorage.setItem('Language', 'AR');
            }
            else {
                ResetToPreLocalization();
                $(this).text('AR');
                localStorage.setItem('Language', 'EN');
            }
        });

            function ResetToPreLocalization() {
            $("[data-localize]").each(function () {
                if ($(this).get(0).hasAttribute('placeholder')) {
                    let _placeholderText = $(this).data("placeholder");
                    $(this).attr('placeholder', _placeholderText);
                }
                else if ($(this).get(0).hasAttribute('title')) {
                    let _titleText = $(this).data('title');
                    $(this).attr('title', _titleText);
                }
                else {
                    let _preLocalizationText = $(this).data('prelocalization');
                    $(this).text(_preLocalizationText);
                }
            });
        }

        function StorePreLocalization() {
            $("[data-localize]").each(function () {
                if ($(this).get(0).hasAttribute('placeholder')) {
                    let _placeholderText = $(this).attr('placeholder');
                    $(this).data('placeholder', _placeholderText);
                }
                else if ($(this).get(0).hasAttribute('title')) {
                    let _titleText = $(this).attr('title');
                    $(this).data('title', _titleText);
                }
                else {
                    let _preLocalizationText = $(this).text();
                    $(this).data('prelocalization', _preLocalizationText);
                }
            });
        }

    </script>
</body >
</html >
